.food-images {
  border: 1px solid black;
  background: black;
  border-radius: 10px;
  height: 160px;
  width: 230px;
  margin: auto;
  text-align: center;
}
.food-images img {
  display: none;
  width: 50vw;
  margin: 0 auto;
  margin-top: 14px;
}

.picturecontainer {
  /* border: 1px solid gold; */
  height: 150px;
  margin: auto;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}
.food-images img:first-of-type {
  display: block;
}

.next {
  border: 1px solid black;
  height: 20px;
  margin-top: 65px;
  margin-right: 55px;
}
.previous {
  border: 1px solid black;
  height: 20px;
  margin-top: 65px;
  margin-left: 55px;
}
