body {
  /* border: 1px solid black; */
  margin: 0 auto;

  background-image: url("../images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: pink;
  font-family: "Nanum Gothic", sans-serif;
}
header {
  /* border: 1px solid maroon; */
  margin-top: 75px;
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 95%;
  height: 50px;
}

h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  /* border: 1px solid maroon; */
  text-align: center;
  font-size: 55px;
  color: black;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  margin-top: 15px;

  font-family: "Nanum Gothic", sans-serif;
}
a:hover {
  color: grey;
}
@media (min-width: 700px) {
  a {
    font-size: 30px;
    margin-top: 5px;
  }
  h1 {
    font-size: 80px;
  }
}
