body {
  /* border: 1px solid black; */
  margin: 0 auto;
  /* background: rgb(0, 200, 125); */
  background-image: url("../images/monika-grabkowska-P1aohbiT-EY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  background-color: pink;
}
header {
  /* border: 1px solid maroon; */
  margin-top: 75px;
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 95%;
  height: 50px;
}
.hidden {
  display: none;
}
.bodydiv {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  /* border: 1px solid maroon; */
  text-align: center;
  font-size: 55px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  margin-top: 15px;

  font-family: "Nanum Gothic", sans-serif;
}
a:hover {
  color: grey;
}
form > button {
  width: 50%;
  margin: 0 auto;
}
.type,
.mealType {
  /* border: 1px solid black; */
  margin-bottom: 10px;
}
.recipeA {
  color: black;
  font-size: 10px;
}
ul {
  list-style: none;
}
.search {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 15px;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2 {
  font-size: 20px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid black; */
  margin: 0 auto;
  height: 120px;
  width: 100%;
}
/* .recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
} */
.recipesearch {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 120px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.5);
}

.resultimage {
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.6);
  border-radius: 15px;
  width: 65%;
  /* margin: 0 auto; */
}
.breakfast {
  /* border: 1px solid black; */
  /* background: rgba(128, 128, 128, 0.6);
  border-radius: 15px;
  width: 90%; */
  margin-bottom: 10px;
}
.lunch {
  /* border: 1px solid black; */
  margin-bottom: 10px;
  /* background: rgba(128, 128, 128, 0.6);
  border-radius: 15px;
  width: 90%;
  margin: 0 auto; */
}
.dinner {
  /* border: 1px solid black; */
  /* background: rgba(128, 128, 128, 0.6);
  border-radius: 15px;
  width: 90%; */
  margin-bottom: 10px;
}
.daysofweek {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-evenly;
  text-align: center;
  font-size: 15px;
}
.monday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.tuesday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.wednesday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.thursday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.friday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.saturday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.sunday {
  width: 80px;
  border: 1px solid black;
  height: 130px;
}
.Add {
  font-size: 8px;
}
@media (min-width: 700px) {
  a {
    font-size: 30px;
    margin-top: 5px;
  }
  h1 {
    font-size: 80px;
  }
}
