body {
  /* border: 1px solid black; */
  margin: 0 auto;
  background: rgb(0, 200, 125);
}
header {
  /* border: 1px solid maroon; */
  margin-top: 75px;
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 95%;
  height: 50px;
}

h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  /* border: 1px solid maroon; */
  text-align: center;
  font-size: 55px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  margin-top: 15px;

  font-family: "Nanum Gothic", sans-serif;
}
a:hover {
  color: grey;
}

ul {
  list-style: none;
}

h2 {
  font-size: 20px;
  text-align: center;
}
.container {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}
.weekDay {
  width: 13%;
  border: 1px solid gold;
  overflow: hidden;
}
.breakfast {
  display: flex;
  flex-direction: column;
}
.lunch {
  display: flex;
  flex-direction: column;
}
.dinner {
  display: flex;
  flex-direction: column;
}
.addMeal {
  border: 1px solid black;
  color: white;
  background: transparent;
}
