body {
  /* border: 1px solid black; */
  margin: 0 auto;
  background: rgb(0, 200, 125);
}

nav {
  /* border: 1px solid gold; */
  text-align: left;
  width: 70px;
  height: 100vh;

  margin-top: 20px;
}
.menu {
  display: none;
}

.menufix {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 70px;
  height: 150px;
}
h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  /* border: 1px solid maroon; */
  text-align: center;
  font-size: 40px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.secondheaderdiv {
  display: flex;
  /* border: 1px solid orange; */

  height: 100px;
  margin-right: 80px;
  text-align: center;
  margin-top: 0px;
}

img {
  /* border: 1px solid pink; */
  margin-top: 25px;
}
.mainheaderdiv {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  /* width: 70px; */
}
.mainheaderdiv > a {
  height: 10%;
  margin-top: 20px;
  margin-left: 10px;
}
.food-images {
  border: 1px solid black;
  /* background: black; */
  border-radius: 10px;
  height: 150px;
  width: 200px;
  margin: auto;
}
.food-images img {
  display: none;
  width: 50vw;
  margin-left: 6px;
  margin-top: 12px;
  position: absolute;
}

.picturecontainer {
  /* border: 1px solid gold; */
  height: 150px;
  margin: auto;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}
.food-images img:first-of-type {
  display: block;
}

.next {
  border: 1px solid black;
  height: 20px;
  margin-top: 65px;
  margin-right: 55px;
}
.previous {
  border: 1px solid black;
  height: 20px;
  margin-top: 65px;
  margin-left: 55px;
}
