body {
  /* border: 1px solid black; */
  margin-top: 0;

  background-image: url("../images/joyce-romero-FP1nAPbqipw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header {
  /* border: 1px solid maroon; */
  margin-top: 75px;
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 95%;
  height: 50px;
}

h1 {
  font-family: "Liu Jian Mao Cao", cursive;
  /* border: 1px solid maroon; */
  text-align: center;
  font-size: 55px;
  color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  margin-top: 15px;

  font-family: "Nanum Gothic", sans-serif;
}
a:hover {
  color: grey;
}
